<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header">
	    <title>Quiz</title>
	</head>
	
	<body>
		<div class="container" th:object="${questao}">
			<div th:text="${questao.pergunta}"></div>
			
			<form th:action="@{/quiz}" th:object="${questao}" method="post">
				<input type="hidden" th:field="*{id}" th:value="${questao.id}" >
				<input type="hidden" th:field="*{pergunta}" th:value="${questao.pergunta}" >
				
				<input type="radio" th:field="*{alternativaCorreta}" value="a"> A
				<input type="radio" th:field="*{alternativaCorreta}" value="b" > B
				<input type="radio" th:field="*{alternativaCorreta}" value="c"> C
				
				<input type="submit">
			</form>
		</div>
	</body>
</html>