<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header">
	    <title>Quiz</title>
	</head>
	
	<body>
		<div class="container" th:object="${questao}">
			<nav th:replace="/fragments/navigation_admin :: navigation"></nav>
			<div class="admin-box">
				<form th:action="@{/quiz}" th:object="${questao}" method="post">
					<div class="row">
						<div class="col-12 pergunta">
							<div th:text="${questao.pergunta}"></div>	
						</div>
					</div>
					<div class="row">
						<div class="col-12 alternativa">
							<div th:text="${questao.alternativas}"></div>	
						</div>
					</div>
					<div class="row">
						<div class="col-12 escolher">
							<input type="hidden" th:field="*{id}" th:value="${questao.id}" >
							
							<input type="radio" th:field="*{alternativaCorreta}" value="a"> A
							<input type="radio" th:field="*{alternativaCorreta}" value="b" > B
							<input type="radio" th:field="*{alternativaCorreta}" value="c"> C
						</div>
					</div>
					<div class="row">
						<div class="col-12 escolher">
							<input type="submit" value="Responder">	
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>