.card-img-top {
    /* padding: 5px; */
}

.card {
    margin: 0px 0px 10px 0px;
}

.secao-box {
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 1px;
    padding: 10px 0px;
    margin: 0px 10px 10px 0px;
}

.secao-legenda {
    margin: 20px 10px 10px 0px
}

.link {
    margin: 0px 5px 25px 5px;
}