<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row" id="div-view-product">
        <div class="col-md-6">
            <form th:action="@{/login}" th:object="${usuario}" method="post" autocomplete="off">
                <h1>Login</h1>
                <p>
                    <label for="usuario">Usuario</label>
                    <input id="usuario" required="required" type="text" placeholder="usuario" th:field="*{nome}"/>
                </p>

                <p>
                    <label for="senha_login">Senha</label>
                    <input id="senha_login" required="required" type="password" placeholder="senha" th:field="*{senha}"/>
                    <span th:if="${erroLogin != null}" style="color:red">
                usuario ou senha incorretos!
            </span>
                </p>

                <p>
                    <input type="submit" value="Login"/>
                </p>
            </form>
        </div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>