<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav th:replace="/fragments/navigation :: navigation"></nav>

    <div class="d-flex justify-content-center">
        <div class="row secao-box">
            <div class="col-12">
                <div class="card">
                    <img class="card-img-top" src="img/tv.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Smart TV 4K</h5>
                        <h5 class="card-title">R$4000</h5>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block">Comprar</button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>